<!DOCTYPE html>
<html>

<head>
  <title>mongodb</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <div class="main">

    <%if(typeof(entries) !== 'undefined') {%>

    <% for (let i =0; i < entries.length;  i++ ) { %>

    <div class="post_person">
      <div class="img_info_person">
        <div class= "img"></div>
        <div class="info_person">
            <%= entries[i].author.fullname %><br><br>
            <%= entries[i].author.tel %><br>
            <%= entries[i].author.email %>
        </div>
      </div>
      <div>
          <h1><%= entries[i].title %></h1>
      </div>
      <div class="text_blog">
          <%= entries[i].text %><br><br>
      </div>
      <div>
          <p>TAGS:<% for (let j =0; j < entries[i].tags.length;  j++ ) { %>
            <a href="<%=entries[i].tags[j]%>"> <%= entries[i].tags[j] %></a>
          <% } %>
          </p>
      </div>
    </div>
      

      <% } %>
      <% } %>

    </div>

</body>

</html>