<!DOCTYPE html>
<html>

<head>
  <title>mongodb</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="info">
    <table class="table">
      <%if(typeof(entries) !== 'undefined') {%>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Text</th>
          <th>Tags</th>
      </tr>
      <% for (let i =0; i <entries.length;  i++ ) { %>
      <tr>
        <td>
          <%= entries[i].title %>
        </td>
        <td>
          <%= entries[i].author.fullname %>
        </td>
        <td>
          <%= entries[i].author.tel %>
        </td>
        <td>
          <%= entries[i].author.email %>
        </td>
        <td>
          <%= entries[i].text %>
        </td>
        <td>
          <%= entries[i].tags %>
        </td>
        <% } %>
        <% } %>
    </table>
  </div>

</body>

</html>