<!DOCTYPE html>
<html>

<head>
  <title>Info</title>
  <link rel="icon" type="image/png"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/323px-Check_green_icon.svg.png" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <h1>HELLO</h1><br><br>

  <img src="<%= country_flag %>">
  <p>NAME: <%=_id %></p>
  <p>IP: <%=ip %></p>
  <p>OS: <%=os %></p>
  <p>BROWSER: <%=browser %></p>
  <p>VIEWS: <%=views %></p>
  <p>LAST VISIT: <%=updatedAt %></p>
  <p>YOU COME FROM: <%=referer %></p>
  <p>YOUR COUNTRY: <%=country %></p>
  <p>YOUR CITY: <%=city %></p>

  


</body>

</html>