<!DOCTYPE html>
<html>

<head>
    <title>Form to change</title>
    <link rel="icon" type="image/png"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/323px-Check_green_icon.svg.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <div class="main">
        <% if(typeof(userData) !== 'undefined') {%>

        <div class="title">
            <h2>Form</h2>
            <h3> <%= userData.surname %></h3>
            <a href="/list">List</a>
        </div>
        <hr>
        <form class="form" action="<%='/list/parameters/' + userData.id %>">
            <label>Height</label>
            <input type="text" placeholder="" name="height" required
                value=" <%= userData.parameters.height %>">
            <label>Weight</label>
            <input type="text" placeholder="" name="weight" required
                value=" <%= userData.parameters.weight %>">
            <label>Fill</label>
            <input type="datetime-local" id="filltime" name="fill_date" requeired
                value=" <%= userData.parameters.fill_date %>">
            <button type="submit">Submit</button>
        </form>
        <% } %>
        <div class="answ"></div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="/form.js"></script>

</body>

</html>