<!DOCTYPE html>
<html>

<head>
  <title>Cards of Countries</title>
  <link rel="icon" href="data:,">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Cards of Countries</h1>
  <div class="main">
    <div class="regions">
      <label class="container">Europe
        <input type="radio" name="radio" value="Europe">
        <span class="checkmark"></span>
      </label>
      <label class="container">Americas
        <input type="radio" name="radio" value="Americas">
        <span class="checkmark"></span>
      </label>
      <label class="container">Asia
        <input type="radio" name="radio" value="Asia">
        <span class="checkmark"></span>
      </label>
      <label class="container">Africa
        <input type="radio" name="radio" value="Africa">
        <span class="checkmark"></span>
      </label>
      <label class="container">Oceania
        <input type="radio" name="radio" value="Oceania">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="countries">
      <% if(typeof(countries) !== 'undefined') {%>
      <% for (let i = 0; i <countries.length;  i++ ) { %>
      <div class="card">
        <div class="info_country">
          <img src="<%= countries[i].flag %>">
          <div>
            <div class="name"><%= countries[i].name %></div>
            <div class="region"><%= countries[i].region %></div>
            <div class="capital">c.: <%= countries[i].capital %></div>
          </div>
        </div>

        <div class="population">Population: <%= countries[i].population %></div>
        <div class="timezone">Timezone: <%= countries[i].timezones[0] %></div>
        <div class="currencies">Curr.name: <%= curr_names[i] %></div>
        <div class="translations">de: <%= trans_de[i] %><br> es: <%= trans_es[i] %><br>it: <%= trans_it[i] %></div>
      </div>
      <% } %>
      <% } %>
    </div>
  </div>
  <div class="loader" style="<%- loader_disp %>"><img src="/images/loader.gif" alt=""></div>

</body>
<script src='/javascripts/main.js'></script>

</html>